body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}
.header {
	/* height: 60px; */
	width: 100%;
	/* background-color: #dfa3f1; */
}
.header nav {
	background-color: #dfa3f1;
}
.navbar-brand img {
	width: 149px;
	height: 40px;
}
.main-slider {
	padding-top: 40px;
}
.main-slider .swiper-slide img {
	width: 100%;
	object-fit: cover;
}
.main .advantages {
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	background-color: #f5f7f7;
}
.advantages__title {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 40px;
}
.advantages__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.advantages__item-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 70px;
	background-color: transparent;
	border: 2px solid #d9dee2;
	border-radius: 50%;
}
.advantages__item-caption {
	font-size: 20px;
	padding-top: 20px;
	text-transform: uppercase;
	max-width: 290px;
	text-align: center;
}
.catalog {
	padding-top: 50px;
	padding-bottom: 50px;
}
.catalog__title {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 40px;
}
.catalog__card {
	position: relative;
	height: 300px;
	/* background-color: grey; */
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 5px;
}
.catalog__card-img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.catalog__card-wrap{
	position: absolute;
	top: 60%;
	left: 50%;
	transform:translate(-50%, 0);
	max-width: 50%;
}
.catalog__card-title{
	display: block;
	z-index: 2;
	font-size: 14px;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
	max-height: 80px;
	overflow: hidden;
}
.catalog__card-btn{
	display: block;
	margin-top: 10px;
	z-index: 2;
	font-size: 14px;
	background-color: rgba(255, 255, 255, 0.8);
	color:black !important;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
	max-height: 80px;
	overflow: hidden;
	transition-duration: 0.4s;
}
.catalog__card-btn:hover{
	background-color: #ffffff;
}
.catalog__btn {
	margin: 0 auto;
	margin-top: 30px;
	display: block;
	height: 50px;
	width: 100px;
	text-align: center;
	border: 1px solid black;
	background-color: white;
	color: black !important;
	text-decoration: none;
	line-height: 50px;
	border-radius: 5px;
	transition-duration: 0.4s;
}
.catalog__btn:hover{
	background-color: #eeeeee;
}
.callback {
	padding-top: 50px;
	padding-bottom: 50px;
}
.callback__block {
	display: block;
	margin: 0 auto;
	height: 200px;
	width: 600px;
	background-color: grey;
}
.examples {
	padding-top: 50px;
	padding-bottom: 50px;
}
.examples__title {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 40px;
}
.examples__card {
	height: 200px;
	background-color: grey;
}
.examples__block {
	width: 50%;
	background-color: grey;
	height: 200px;
	display: block;
	margin: 0 auto;
}
.footer {
	margin-top: auto;
	height: 80px;
	background-color: #f5f7f7;
}
.footer__wrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80px;
}
.footer__link {
	font-size: 18px;
	color: black;
	text-decoration: none;
	transition: 0.5s;
}
.footer__link:hover {
	color: blue;
}
.footer__logo {
	width: 160px;
	height: 40px;
	background-color: #ffffff;
}
.description {
	padding-top: 100px;
	padding-bottom: 50px;
}
.description__title {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 40px;
}
.description__wrap {
	/* height: 800px;
	background-color: grey; */
}
.calc {
	background-color: grey;
	height: 300px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.main__title {
	padding-top: 100px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 20px;
}
.filter {
	height: 200px;
	background-color: grey;
}
.about__caption {
	font-size: 20px;
}
.about__img img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.about .row > * {
	margin-top: 20px;
	margin-bottom: 20px;
}
.main-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.contacts__block {
	height: 300px;
	background-color: grey;
}
.map {
	padding-top: 50px;
	padding-bottom: 50px;
}
.map__widget {
	height: 300px;
	background-color: orange;
}
.registration {
	padding-top: 100px;
}
.registration__block {
	background-color: grey;
	display: block;
	border: 1px solid black;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 600px;
}
.registration__title {
	padding-top: 100px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 20px;
}
.registration__form {
	height: 400px;
	width: 400px;
	background-color: whitesmoke;
	display: block;
	border: 1px solid black;
	margin: 0 auto;
}
.registration__login {
	text-align: center;
	display: block;
	padding-top: 30px;
	color: white;
	text-decoration: none;
}
.swiper-button-next,
.swiper-button-prev {
	border:1px solid black;
	background-color: #ffffff;
	border-radius: 50%;
}
.swiper-slide {
	position: relative;
}
.main-slider__title {
	font-size: 30px;
	background-color: rgba(250, 250, 250, 0.8);
	padding: 20px;
	position: absolute;
	display: block;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	border-radius: 4px;
}
.btn-slider {
	transition-duration: 0.3s;
	color: black !important;
	font-size: 16px;
	text-decoration: none;
	background-color: rgba(250, 250, 250, 0.8);
	padding: 10px;
	position: absolute;
	display: block;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	border-radius: 4px;
}
.btn-slider:hover {
	background-color: #fafafa;
}
.specSwiper .swiper-slide {
	padding: 20px;
	height: 300px;
}
.specSwiper .swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 768px) {
	.callback__block {
		width: 50%;
	}
	.registration__block {
		width: 80%;
	}
	.registration__form {
		width: 70%;
	}
}

@media (max-width: 1400px) {
	.main-slider__title {
		padding: 17px;
		top: 40%;
	}
}
@media (max-width: 992px) {
	.main-slider__title {
		padding: 13px;
		top: 40%;
		font-size: 22px;
	}
	.btn-slider {
		padding: 7px;
		top: 65%;
		font-size: 13px;
	}
}
@media (min-width: 576px) {
	.swiper-button-next,
	.swiper-button-prev {
		width: 60px !important;
		height: 60px !important;
	}
}
@media (max-width: 576px) {
	.main-slider__title {
		padding: 2.26vw;
		top: 40%;
		font-size: 3.82vw;
	}
	.btn-slider {
		padding: 1.1vw;
		top: 65%;
		font-size: 2.26vw;
	}
	.swiper-button-next {
		width: 8.68vw !important;
		height: 8.68vw !important;
	}
	.swiper-button-next::after {
		width: 1.3888888889vw !important;
		height: 2.0833333333vw !important;
		content: "" !important;
		background-image: url(../img/next.svg);
		background-size: cover;
		top: 0;
		left: 0;
	}
	.swiper-button-prev {
		width: 8.68vw !important;
		height: 8.68vw !important;
	}
	.swiper-button-prev::after {
		width: 1.3888888889vw !important;
		height: 2.0833333333vw !important;
		content: "" !important;
		background-image: url(../img/prev.svg);
		background-size: cover;
		top: 0;
		left: 0;
	}
}
